/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img, svg {
    display: block;
    max-width: 100%;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    --primary-grey-900: hsl(0, 0%, 8%);
    --primary-grey-800: hsl(0, 0%, 12%);
    --primary-grey-700: hsl(0, 0%, 20%);
    --secondary-green: #C4F82A;
    --white: #FFFFFF;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: 'Inter Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    line-height: 150%;
    background-color: var(--primary-grey-900);
    color: var(--white);
    padding: 1.5rem;
}

.card{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 24rem;
    padding: 2.5rem;
    gap: 1.5rem;
    background-color: var(--primary-grey-800);
    border-radius: 0.75rem;

}

.links-container {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.links {
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--primary-grey-700);
    border: none;
    color: var(--white);
    border-radius: 0.5rem;
    transition: background-color 0.5s;
    transition: color 0.25s;
}

.links:hover {
    background-color: var(--secondary-green);
    color: var(--primary-grey-800);
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;;
}

.info-name {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 6px;
}

.info-location{
    font-weight: bold;
    font-size: 14px;
    color: var(--secondary-green)
}

.headshot {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.intro {
    font-size: 14px;
}

